black==24.10.0
cffi==1.17.1
click==8.1.7
colorama==0.4.6
colorizer==0.1.7
cryptography==43.0.3
Faker==33.0.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
prettytable==3.12.0
pycparser==2.22
python-dateutil==2.9.0.post0
six==1.16.0
termcolor==2.5.0
typing_extensions==4.12.2
wcwidth==0.2.13
